<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生成界面</title>
</head>
<body>

    <p>风格：{{t_style}}</p>
    <p>分辨率：{{t_resolution}}</p>
    <p>生成数量：{{t_num}}</p>
    <p>描述：{{t_describe}}</p>

    <hr>



    <img src="{{t_img1}}" alt="">
    <img src="{{t_img2}}" alt="">
    <img src="{{t_img3}}" alt="">
    <img src="{{t_img4}}" alt="">
    <img src="{{t_img5}}" alt="">
    <img src="{{t_img6}}" alt="">




    
    
    <hr>
    <h3>以下是图片原链接：</h3>
    <p>{{t_rst}}</p>

</body>
</html>